/* Hide Checkbox so that it is still on the page for accessibilty */
[type="checkbox"] {
    opacity: 0;
    position: absolute;

}


.benefitSection__toggleForm {
    position: absolute;
    bottom: 40px;
    right: 38%;
    color: gray;
     cursor: pointer; 
     @include media(900px) {
       right: 30%;
     }

     @include media(700px) {
       right: 25%;
     }

      @include media(600px) {
       right: 15%;
     }





     @include media(450px) {
       text-align: center;
       bottom: 0px;
       width: 70%;

     }
    // display: flex;
    // flex-direction: column;
}

/* Styles for individual labels */
.toggleLabel {
    margin: 15px 0;
    position: relative;
    line-height: 40px;
    font-size: 0.75rem;
    text-align: center;
        cursor: pointer;
    @include media(450px) {
          width: 100%;
     }
}
/* Make the toggle background */
.toggleLabel::before {
    content: "";
    width: 100px;
    height: 40px;
    border-radius: 100px;
    position: absolute;
    right: 110px;
    top: -60px;
    background: #1f2d2e;
    @include media(450px) {
       top: -55px;
        right: -10px;
    }
}

/* Make the middle of the toggle switch */
.toggleLabel::after {
content: "";
width: 30px;
height: 30px;
border-radius: 50%;
background: rgb(249, 247, 247);
position: absolute;
top: -55px;
right: 175px;
@include media(450px) {
       top: -51px;
        right: 55px;
    }
}

/* Change the background color when the toggle is checked */
[type="checkbox"]:checked + .toggleLabel::before {
    background: $accentColourDark;
}
/* Change the position of middle of toggle switch */
[type="checkbox"]:checked + .toggleLabel::after {
    right: 115px;
    @include media(450px) {
       top: -51px;
        right: -5px;
    }
}

/* Changes the background color of the toggle switch when focused (for accessibility) */
// [type="checkbox"]:active + .toggleLabel::before,
// [type="checkbox"]:focus + .toggleLabel::before {
//     background: #EB6856;
// }
