$darkColour: rgb(30, 26, 52);

$lightColour: #FBF8FF;

$accentColourLight: rgb(254, 249, 240);

$accentColourMid: rgb(255, 190, 159);

$accentColourDark: rgb(255, 141, 109);

$grayBackground: #F5F3F1;