// * {
//     border: solid 1px red;
// }

.productSection {
    height: 675px;
    // position: relatisve;
    z-index: 1;

    background-size: cover;
    background-position: center;
    @include media(900px) {
       height: 1075px;
     }
     @include media(650px) {
       height: 1175px;
     }
     @include media(450px) {
       height: 1250px;
     }
}

.productSection__backgroundFirst {
    background: $darkColour;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 50%;
    z-index: -1;
}


.productSection__header {
    margin-top: 0px;
    margin-bottom: 75px;
   @include media(900px) {
       margin-bottom: 50px;
     }
}

// text

.productSection__headerContent {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @include media(900px) {
       flex-wrap: wrap;
       height: auto;
     }
}

.productSection__headerImage { 
    width: 50%;
    @include media(1200px) {
       width: 40%;
     }
    @include media(900px) {
       width: 100%;
     }
}

.productSection__headerText {
    // height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 4%;
     padding-right: 2%;
    color:rgb(30, 26, 52);
    @include media(1200px) {
       width: 60%;
     }

    @include media(900px) {
       width: 100%;
       text-align: center;
       margin-top: 30px;
       padding: 0 0;
     }
}

.productSection__paragraph {
    line-height: 175%;
     @include media(1200px) {
        font-size: 0.9rem;
     }
      @include media(900px) {
        font-size: 1rem;
        margin-top: 20px;
     }
}


.productSection__paragraph a {
    font-size: 1rem;
    text-decoration: underline;
}




// .productSection__subHeader {
//     font-size: 1.5rem;
//     color: rgb(30, 26, 52);
// }

.productSection__headerText h2, .productSection__headerText button {
    margin-top: 50px;
     @include media(900px) {

       margin: 0 auto;
      margin-top: 50px;
     }
}


// IMAGE



.productSection__imageHolder{
    background: $grayBackground;
    width: 90%;
    border-radius: 5%;
    height: 460px;
    padding: 60px 0;
    @include media(1200px) {
       padding-top: 90px;
       height: 425px;
     }

     @include media(900px) {
       padding-top: 60px;
       width: 400px;
       margin: 0 auto;
      margin-top: 20px;
       height: 400px;
     }
     @include media(450px) {
       width: 90%;
       height: 300px;
       padding-top: 45px;
     }
}

.productSection__imageContainer{ 
    margin-left: 15%;
    max-height: 75%;
    max-width: 75%;
}





.productSection__packaging {
    z-index: 1;
}




