.howItWorksSection {
    height: 675px;
    background: $accentColourLight;
    padding: 50px;
}

.howItWorksSection__header, .howItWorksSection__paragraph {
    text-align: center;
}

.howItWorksSection__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.howItWorksSection__text h3 {
    margin: 75px 0;
    margin-bottom: 100px;
    text-align: center;

}



.howItWorksSection__iconGallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.howItWorksSection__galleryIcon {
    width: 150px;

}

.howItWorksSection .imageContainer {
    width: 100px;
    margin: 0 auto;
}


.howItWorksSection__figCaption {
    font-size: 0.8rem;
    width: 100%;
    text-align: center; 
}

.howItWorksSection__button {
    margin: 40px auto;
    margin-top: 75px;
    // height: 150px;

}




