.howItWorksSection {
    height: 700px;
    background: $accentColourLight;
    padding: 50px;
     @include media(1000px) {
       height: 740px;
     }
    @include media(750px) {
       height: 890px;
     }

     @include media(450px) {
       height: 1250px;
     }
}

.howItWorksSection__header, .howItWorksSection__paragraph {
    text-align: center;
}

.howItWorksSection__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.howItWorksSection__text h3 {
    margin: 75px 0;
    margin-bottom: 100px;
    text-align: center;
    @include media(450px) {
       margin: 60px 0;
     }

}



.howItWorksSection__iconGallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include media(750px) {
       flex-wrap: wrap;
     }
}

.howItWorksSection__galleryIcon {
    width: 150px;
    @include media(750px) {
        width: 200px;
        margin-bottom: 40px;
     }

      @include media(600px) {
        width: 150px;
     }
      @include media(450px) {
        width: 100%;
     }

}

.howItWorksSection .imageContainer {
    width: 90px;
    margin: 0 auto;
    height: 120px;
    @include media(750px) {
        height: 80px;
         width: 80px;
     }

     @include media(450px) {
       height: 60px;
         width: 60px;
     }

}


.howItWorksSection__figCaption {
    font-size: 0.8rem;
    width: 100%;
    margin-top: 20px;
    text-align: center; 
}

.howItWorksSection__button {
    margin: 0px auto;
    margin-top: 60px;
    // height: 150px;
    @include media(750px) {
        margin-top:35px;
     } 
}

.howToVideo {
  text-align: center;
  font-size: 0.9rem;
  text-decoration: underline;
  color: $darkColour;
  margin: 30px auto;
}

.howToVideo:hover {
  color: $accentColourDark;
}




