/* SECTION TOP */
.headerSection {

    height: 100vh;
    width: 100%;
    position: relative;
    // z-index: 1;

    // background: linear-gradient( rgba(38, 38, 38, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/lifestylePics/sam-manns-V5Owjg-ZNto-unsplash.jpg');
    background: linear-gradient( rgba(38, 38, 38, 0.5), rgba(9, 8, 16, 0.5) ), url('../assets/lifestylePics/sam-manns-V5Owjg-ZNto-unsplash.jpg');
    // background: linear-gradient( rgba(92, 92, 92, 0.5),rgb(17, 15, 30) ), url('../assets/lifestylePics/sam-manns-V5Owjg-ZNto-unsplash.jpg');
    background-size: cover;
    background-position: 50% 70%;
    transition: background-position 1s;
    @include media(700px) {
       height: 675px;
       background-position: 0% 70%;
     }

    @include media(450px) {
       height: 800px;
     }
}

.headerSection__headerContent {
    display: flex;
    justify-content: flex-start;
    height: 525px;
    @include media(700px) {
       height: 550px;
     }
    @include media(450px) {
       height: 90%;
     }
}

.headerSection__headerText {
    
    height: 93%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    color: rgb(255,255,255);
    @include media(700px) {
       flex-wrap: wrap;
      //  height: 90%;
     }
     @include media(450px) {
       flex-wrap: wrap;
       height: 80%;
     }
    
    
}

.headerSection__headerMessageArea {

    width: 60%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    @include media(700px) {
       width: 100%;
       align-items: center;
       height: 65%;
     }
     @include media(450px) {
       height: 70%;
     }
    
}

.headerSection__headerButtonArea {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    @include media(700px) {
       width: 100%;
       justify-content: center;
     }
     @include media(450px) {
       margin-bottom: 0px;
       height: 40%;
     }
}

.headerSection__header {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: left;
    @include media(700px) {
       text-align: center;
     }
}

.headerSection__subHeader {
    font-size: 1.2rem;
    color: rgb(223, 223, 223);
    text-align: left;
    @include media(700px) {
       text-align: center;
     }
}

.headerSection__headerText h2 {
    margin: 5px 0;
    @include media(700px) {
       text-align: center;
     }
}

.headerSection__headerText a {
    margin-top: 35px;
    @include media(700px) {
       margin-top: 50px;
     }
}

.headerSection__headerButtonArea .headerSection__logo {
  margin-right: 18px;
  @include media(700px) {
       margin-right: 0px;
     }
}

.headerSection__headerButtonArea .headerSection__logo .logoContainer {
  height: 165px;
  width: 165px;
  @include media(1000px) {
      height: 135px;
      width: 135px;
  }
}

.headerSection__hamburgerArea {
  z-index: 1;
}



