.aboutSection {
    height: 380px;
    background: $accentColourLight;
    padding: 50px;
    @include media(900px) {
       height: 460px;
     }
     @include media(750px) {
       height: 540px;
     }

     @include media(600px) {
       height: 570px;
     }
    @include media(450px) {
      padding: 50px 0px;
       height: 660px;
     }

}


.aboutSection__header, .aboutSection__paragraph {
    text-align: center;
}

.aboutSection__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.aboutSection__paragraph {
    margin-top: 20px;

}

.italic {
    margin-top: 20px;
font-style: italic;}

